<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron list">
        <ul class="message-list">
          <% arr.forEach(function(item) { %>
          <li class="messages">
            <span class="user"><%= item.user %></span
            ><span class="message"> <%= item.message %></span>
          </li>
          <% }); %>
        </ul>
        <form action="/add" method="POST">
          <label class="label" for="uname">User:</label>
          <input
            type="text"
            id="uname"
            name="user"
            value="Mary"
            required
            maxlength="20"
          />
          <label class="label" for="lname">Message:</label>
          <input type="text" id="lname" name="message" value="hello" required />
          <input type="submit" value="Submit" />
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
